<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>德国</string>
		<string>DE</string>
		<string>字母+8位数字</string>
		<string>T22000129</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>美国</string>
		<string>US</string>
		<string>9位数字</string>
		<string>235353456</string>
		<string>驾驶证</string>
		<string></string>
		<string>驾驶证等于身份证</string>
	</array>
	<array>
		<string>英国</string>
		<string>GB</string>
		<string>字母数字共9位</string>
		<string>zu1234567</string>
		<string>护照</string>
		<string></string>
		<string>护照等于身份证</string>
	</array>
	<array>
		<string>韩国</string>
		<string>KR</string>
		<string>13位数字</string>
		<string>1603191234567</string>
		<string>身份证</string>
		<string></string>
		<string>前六位是生日</string>
	</array>
	<array>
		<string>日本</string>
		<string>JP</string>
		<string>12位数字</string>
		<string>123456789101</string>
		<string>驾驶证</string>
		<string></string>
		<string>驾驶证等于身份证</string>
	</array>
	<array>
		<string>中国</string>
		<string>CN</string>
		<string>18位数字</string>
		<string>410102198702143000</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>西班牙</string>
		<string>ES</string>
		<string>字母数字共9数字</string>
		<string>33398916H</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>葡萄牙</string>
		<string>PT</string>
		<string>8位数字</string>
		<string>02010116</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>澳大利亚</string>
		<string>AU</string>
		<string>8位数字</string>
		<string>13104441</string>
		<string>驾驶证</string>
		<string>            </string>
		<string>驾驶证等于身份证</string>
	</array>
	<array>
		<string>意大利</string>
		<string>IT</string>
		<string>字母数字共9位</string>
		<string>AV4639716</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>加拿大</string>
		<string>CA</string>
		<string>15位数字</string>
		<string>C65080994730630</string>
		<string>驾驶证</string>
		<string></string>
		<string>驾驶证等于身份证</string>
	</array>
	<array>
		<string>法国</string>
		<string>FR</string>
		<string>字母数字共9位</string>
		<string>7307100F9</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>土耳其</string>
		<string>TR</string>
		<string>11位数字</string>
		<string>52486739172</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>俄罗斯</string>
		<string>RU</string>
		<string>10位数字字母</string>
		<string>60No2819413</string>
		<string>护照</string>
		<string></string>
		<string>护照等于身份证</string>
	</array>
	<array>
		<string>南非</string>
		<string>ZA</string>
		<string>13位数字</string>
		<string>9007263637083</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>阿根廷</string>
		<string>AR</string>
		<string>8位数字</string>
		<string>26169584</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>巴西</string>
		<string>BR</string>
		<string>字母数字共8位</string>
		<string>V8307157</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>印度</string>
		<string>IN</string>
		<string>12位数字</string>
		<string>925351044347</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>印度尼西亚</string>
		<string>ID</string>
		<string>16位数字</string>
		<string>3276052203830007</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>墨西哥</string>
		<string>MX</string>
		<string>7位数字</string>
		<string>0026772</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>沙特阿拉伯</string>
		<string>SA</string>
		<string>15位数字</string>
		<string>784200285632110</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>香港</string>
		<string>HK</string>
		<string>12位数字</string>
		<string>376900513293</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>澳门</string>
		<string>MO</string>
		<string>字母数字8位</string>
		<string>51573707</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>台湾</string>
		<string>TW</string>
		<string>字母数字10位</string>
		<string>A225575547</string>
		<string>身份证</string>
		<string></string>
		<string></string>
	</array>
</array>
</plist>
