<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>CNY</string>
		<string>人民币</string>
		<string>¥</string>
	</array>
	<array>
		<string>USD</string>
		<string>美元</string>
		<string>$</string>
	</array>
	<array>
		<string>GBP</string>
		<string>英镑</string>
		<string>￡</string>
	</array>
	<array>
		<string>JPY</string>
		<string>日元</string>
		<string>￥</string>
	</array>
	<array>
		<string>KRW</string>
		<string>韩元</string>
		<string>₩</string>
	</array>
	<array>
		<string>EUR</string>
		<string>欧元</string>
		<string>€</string>
	</array>
	<array>
		<string>RUB</string>
		<string>卢布</string>
		<string>₽</string>
	</array>
	<array>
		<string>AUD</string>
		<string>澳大利亚元</string>
		<string>A$</string>
	</array>
	<array>
		<string>CAD</string>
		<string>加拿大元</string>
		<string>C$</string>
	</array>
	<array>
		<string>TRY</string>
		<string>新土耳其里拉</string>
		<string>₺</string>
	</array>
	<array>
		<string>ZAR</string>
		<string>兰特</string>
		<string>R</string>
	</array>
	<array>
		<string>ARS</string>
		<string>阿根廷比索</string>
		<string>ARS</string>
	</array>
	<array>
		<string>BRL</string>
		<string>雷亚尔</string>
		<string>R$</string>
	</array>
	<array>
		<string>INR</string>
		<string>印度卢比</string>
		<string>₹</string>
	</array>
	<array>
		<string>IDR</string>
		<string>印尼盾</string>
		<string>Rp</string>
	</array>
	<array>
		<string>MXN</string>
		<string>墨西哥比索</string>
		<string>$</string>
	</array>
	<array>
		<string>SAR</string>
		<string>沙特里亚尔</string>
		<string>SAR</string>
	</array>
</array>
</plist>
